* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(254, 226, 245);
}

h1 {
    font-family: 'Playball', cursive;
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(190, 37, 83);
}
h2 {
    margin-left: 3.1em;

} 

h4 {
    font-size: 1.5em;
}

.calculate {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 37, 83);
    
    
    
}

.content {
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 9px dotted rgb(18, 16, 16);
    padding-bottom: 5em;

    
}

.row {
    width: 100%;
    margin-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 5em;
}

#percent-amnt {
    display: flex;
    align-items: center;
    justify-content: center;
}

#percent-amnt h3 {
    text-shadow: 2px 8px 18px rgb(175, 55, 101);
    font-size: 9em;
}

.hidden {
    display: none;
}