


body {
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
    text-shadow: 1px 1px 5px black;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;

}

/* h1 Pulse effect */
@keyframes pulse {
	0% {
		transform: scale(0.95);	
	}

	70% {
		transform: scale(1);	
	}

	100% {
		transform: scale(0.95);	
	}
}

.gif {
    margin-top: 2em;
    margin-bottom: 5em;
}
.gif img {
    width: 30%;
}
#content-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
}


  
  


/* Gallery Style */
.gallery-expand .gallery-curve-wrapper {
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 1px 4px #0000001a;
    background: white;
    padding-top: 20px;
    
}


.btn-large {
    margin-bottom: 20px;
    border-radius: 40px;
    background-color: rgb(220, 204, 204);
    color: rgb(226, 19, 19);
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
    
}

/* Modal */

.modal-trigger {
    margin-top: 2em;
    background-color: rgb(250, 3, 3);
}




/* Spotify Style */

